Source: udak
Section: host/tools
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 4)
Standards-Version: 3.8.0

Package: udak
Architecture: all
Depends: apt-utils, gnupg, devscripts, util-linux
Recommends: inoticoming
Description: set of tools to manage Debian packages archive
 uDAK is a small implementation of Debian Archive Kit, written
 for IPlinux project.
